In [1]:
import pandas as pd
import numpy as np 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
print("hello hi")

hello hi

In [2]:
dataset=pd.read_csv(r"C:\Users\deepak\Desktop\python_with jupyter\irish_data.csv")
dataset.head()

   one   two   three  four      Species
0   5.1   3.5    1.4   0.2  Iris-setosa
1   4.9   3.0    1.4   0.2  Iris-setosa
2   4.7   3.2    1.3   0.2  Iris-setosa
3   4.6   3.1    1.5   0.2  Iris-setosa
4   5.0   3.6    1.4   0.2  Iris-setosa

In [3]:
dataset.isnull().sum()

one        0
two        0
three      0
four       0
Species    0
dtype: int64

In [4]:
rows,cols=dataset.shape
print("total number of row=",rows)
print("total number of columns=",cols)

total number of row= 150
total number of columns= 5

In [5]:
encoder=LabelEncoder()
dataset.Species=encoder.fit_transform(dataset.Species)
print("hello hi")

hello hi

In [6]:
dataset["Species"].tail()

145    2
146    2
147    2
148    2
149    2
Name: Species, dtype: int32

In [7]:
dataset.head()

   one   two   three  four  Species
0   5.1   3.5    1.4   0.2        0
1   4.9   3.0    1.4   0.2        0
2   4.7   3.2    1.3   0.2        0
3   4.6   3.1    1.5   0.2        0
4   5.0   3.6    1.4   0.2        0

In [8]:
train, test=train_test_split(dataset,test_size=0.2, random_state=0)
print("hello hi")

hello hi

In [9]:
train.shape

(120, 5)

In [10]:
test.shape

(30, 5)

In [23]:
train_x=train.drop(columns=["Species"],axis=1)
train_y=train["Species"]
print(train_x.shape)
print(train_y.shape)
train_x.head()

(120, 4)
(120,)

     one   two   three  four
137   6.4   3.1    5.5   1.8
84    5.4   3.0    4.5   1.5
27    5.2   3.5    1.5   0.2
127   6.1   3.0    4.9   1.8
132   6.4   2.8    5.6   2.2

In [12]:
test_x=test.drop(columns=["Species"],axis=1)
test_y=test["Species"]
test_x.head()

     one   two   three  four
114   5.8   2.8    5.1   2.4
62    6.0   2.2    4.0   1.0
33    5.5   4.2    1.4   0.2
107   7.3   2.9    6.3   1.8
7     5.0   3.4    1.5   0.2

In [13]:
model=LogisticRegression()
model.fit(train_x,train_y)
predict=model.predict(test_x)
predict

c:\users\deepak\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\deepak\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 2,
       0, 0, 2, 0, 0, 1, 1, 0])

In [14]:
print('Predicted Values on Test Data',encoder.inverse_transform(predict))

Predicted Values on Test Data ['Iris-virginica' 'Iris-versicolor' 'Iris-setosa' 'Iris-virginica'
 'Iris-setosa' 'Iris-virginica' 'Iris-setosa' 'Iris-versicolor'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-virginica' 'Iris-versicolor'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa' 'Iris-setosa'
 'Iris-virginica' 'Iris-virginica' 'Iris-setosa' 'Iris-setosa'
 'Iris-virginica' 'Iris-setosa' 'Iris-setosa' 'Iris-versicolor'
 'Iris-versicolor' 'Iris-setosa']

In [15]:
train,test=train_test_split(dataset,test_size=0.2,random_state=0)
print("train size=",train.shape)
print("test size=",test.shape)

train size= (120, 5)
test size= (30, 5)

In [16]:
train_x=train.drop(columns=["Species"])
train_y=train["Species"]

In [17]:
test_x=test.drop(columns=["Species"])
test_y=test["Species"]

In [18]:
model=LogisticRegression()
model.fit(train_x,train_y)
predict=model.predict(test_x)
predict

c:\users\deepak\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\deepak\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 2,
       0, 0, 2, 0, 0, 1, 1, 0])

In [19]:
print("character value",encoder.inverse_transform(predict))

character value ['Iris-virginica' 'Iris-versicolor' 'Iris-setosa' 'Iris-virginica'
 'Iris-setosa' 'Iris-virginica' 'Iris-setosa' 'Iris-versicolor'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-virginica' 'Iris-versicolor'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa' 'Iris-setosa'
 'Iris-virginica' 'Iris-virginica' 'Iris-setosa' 'Iris-setosa'
 'Iris-virginica' 'Iris-setosa' 'Iris-setosa' 'Iris-versicolor'
 'Iris-versicolor' 'Iris-setosa']

In [20]:
print("Accuracy_mesurement",accuracy_score(test_y,predict))

Accuracy_mesurement 0.9666666666666667

In [21]:
predict=model.predict(5.1,3.5,1.4)
predict

TypeError: predict() takes 2 positional arguments but 4 were given